<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row my-4">
        <div style="height: 20em; background-color: #a5a5a5;"></div>
    </div>
    <form action="" method="POST">
        <div class="row">
            <div class="col-3">

                <p>Credit range from :</p>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" placeholder="Minimum" name="credit_min" value="500000000" required>
                    <span class="input-group-text">to</span>
                    <input type="number" class="form-control" placeholder="Maximum" name="credit_max" value="2000000000" required>
                </div>
            </div>

            <div class="col-3">

                <p>Rent range from :</p>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" placeholder="Minimum" name="rent_min" value="1000000" required>
                    <span class="input-group-text">to</span>
                    <input type="number" class="form-control" placeholder="Maximum" name="rent_max" value="80000000" required>
                </div>
            </div>


            <div class="col-3">

                <p>Size range from :</p>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" placeholder="Minimum" name="size_min" value="200" required>
                    <span class="input-group-text">to</span>
                    <input type="number" class="form-control" placeholder="Maximum" name="size_max" required>
                </div>
            </div>

            <div class="col-3">

                <p>Room count :</p>

                <select class="form-select" aria-label="room_count">
                    <option value="0">0 (No room!)</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="more" selected >more (>4)</option>
                </select>

            </div>

        </div>
    <div class="row">
        <button class="btn btn-primary">
            submit
        </button>
    </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>